<!DOCTYPE html>
<html>

<head>
  {% include "head.liquid" %}
</head>

<body>
  <header>
    {% include "header.liquid" %}
  </header>
  <nav style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <div>
      <p>Basics</p>
      <ul>
        <li><a {% if page.data.route=="install" %}class="active" {%endif%} href="{{ site.base_url }}/docs/install">Install</a></li>
        <li><a {% if page.data.route=="usage" %}class="active" {%endif%} href="{{ site.base_url }}/docs/usage">Usage</a></li>
        <li><a {% if page.data.route=="directory" %}class="active" {%endif%} href="{{ site.base_url }}/docs/directory">Directory
            Structure</a></li>
        <li><a {% if page.data.route=="config" %}class="active" {%endif%} href="{{ site.base_url }}/docs/config">Configuration</a></li>
      </ul>
    </div>
    <div>
      <p>Content</p>
      <ul>
        <li><a {% if page.data.route=="pages" %}class="active" {%endif%} href="{{ site.base_url }}/docs/pages">Pages</a></li>
        <li><a {% if page.data.route=="posts" %}class="active" {%endif%} href="{{ site.base_url }}/docs/posts">Posts</a></li>
        <li><a {% if page.data.route=="front" %}class="active" {%endif%} href="{{ site.base_url }}/docs/front">Frontmatter</a></li>
        <li><a {% if page.data.route=="variables" %}class="active" {%endif%} href="{{ site.base_url }}/docs/variables">Variables</a>
        </li>
        <li><a {% if page.data.route=="permalink" %}class="active" {%endif%} href="{{ site.base_url }}/docs/permalink">Permalink</a>
        </li>
        <li><a {% if page.data.route=="layouts" %}class="active" {%endif%} href="{{ site.base_url }}/docs/layouts">Layouts</a></li>
        <li><a {% if page.data.route=="assets" %}class="active" {%endif%} href="{{ site.base_url }}/docs/assets">Assets</a></li>
        <li><a {% if page.data.route=="data" %}class="active" {%endif%} href="{{ site.base_url }}/docs/data">Data files</a></li>
      </ul>
    </div>
    <div>
      <p>Misc</p>
      <ul>
        <li><a {% if page.data.route=="faq" %}class="active" {%endif%} href="{{ site.base_url }}/docs/faq">FAQ</a></li>
        <li><a {% if page.data.route=="rss" %}class="active" {%endif%} href="{{ site.base_url }}/docs/rss">RSS</a></li>
        <li><a {% if page.data.route=="tools" %}class="active" {%endif%} href="{{ site.base_url }}/docs/tools">Tools</a></li>
        <li><a {% if page.data.route=="deployment" %}class="active" {%endif%} href="{{ site.base_url }}/docs/deployment">Deployment</a>
        </li>
        <li><a {% if page.data.route=="trouble" %}class="active" {%endif%} href="{{ site.base_url }}/docs/trouble">Troubleshooting</a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    {{ page.content }}
  </main>
  <footer>
    {% include "footer.liquid" %}
  </footer>
</body>

</html>